.git/
.idea/
.vscode/
.DS_Store
coverage/
debug-ground/debug-dev-on-nodejs/
debug-ground/debug-test-on-nodejs/
node_modules/
temp/
/npm-debug.log
/bash.exe.stackdump
/syncExternalsList.js
/update-externals.sh
/yarn-error.log
